<div class="auth-container">

    <h2>Cadastrar Pet</h2>
    <form action="/pets/create" method="POST">

        <input type="hidden" name="id" value="{{id}}">
        
        <div class="form-control">
            <label for="name">Nome:</label>
            <input type="text" name="name" id="name" placeholder="Digite um nome:" required>
        </div>

        <div class="form-control">
            <label for="raca">Raça:</label>
            <input type="text" name="breed" id="raca" placeholder="Digite a raça:" required>
        </div>

        <div class="form-control">
            <label for="cor">Cor:</label>
            <input type="text" name="color" id="cor" placeholder="Digite a cor:" required>
        </div>

        <div class="form-control">
            <label for="peso">Peso:</label>
            <input type="number" name="weight" id="peso" placeholder="Digite o peso:" required>
        </div>

        <div class="form-control">    
            <label for="genero">Gênero:</label><br>
            <div><input type="radio" name="genre" value="Masculino" CHECKED> Masculino</div>
            <div><input type="radio" name="genre" value="Feminino" > Feminino</div>
            <div><input type="radio" name="genre" value="Não Informado" > Não Informado</div>
        </div>

        <div class="form-control">
            <label for="categoria">Categoria:</label><br>
            <div><input type="radio" name="category" value="gato" CHECKED> Gato</div>
            <div><input type="radio" name="category" value="cachorro" > Cachorro</div>
            <div><input type="radio" name="category" value="peixe" > Peixe</div>    
        </div>

        <div>
            <strong><label for="image">Imagem:</label></strong>
            <input type="file" name="images" id="image" multiple>
        </div><br/>

        <div>
            <input type="submit" value="Cadastrar Pet">
        </div>
    </form>

</div>