<div class="auth-container">
    <h2>Login</h2>
    <form action="/user/login" method="POST">
    
        <div class="form-control">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Digite seu e-mail:" required>
        </div>

        <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" name="password" id="password" placeholder="Digite sua Senha:" required>
        </div>

        <div>
            <input type="submit" value="Entrar">
            <p>Não tem conta? <a href="/user/create">Clique aqui!</a></p>
        </div>

    </form>
</div>