<p>Login</p>
<form action="/user/login" method="POST">
    
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Digite seu e-mail:" required>
    </div>

    <div>
        <label for="password">Senha:</label>
        <input type="password" name="password" id="password" placeholder="Digite sua Senha:" required>
    </div>

    <div>
        <input type="submit" value="Entrar">
    </div>

</form>